<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<meta name="description" content="Труньк ТВ - Онлайн кинотеатр">
	<title>Онлайн кинотеатр</title>
</head>
<body>
	<div class="wapper">
		<div class="header">
			<h1><a href="/">Труньк ТВ</a></h1>
		</div>
		<div class="content">
			<div class="form">
				<form name="my" action="/auth/" method="post">
					<input class="search" name="wrd" placeholder="Ты знаешь, что должен написать" required>
					<input class="submit"  type="submit">
				</form>
			</div>
		</div>
		<div class="footer">
			<p class="copy">Онлайн кинотеатр</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
    	WebFont.load({
       		google: {
            	families: ['Neucha']
        	}
    	});
	</script>
</body>
</html>